{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    The Demographics
{% endblock %}

{% block content %}
<p>Please, fill all the questions. </p>
   <p> <em>Please remember that your answers will be kept in privacy as personal informations and only used for this scientific study.Thanks for your participation.</em></p>

    {% formfield player.age with label="How old are you?" %}
    {% formfield player.gender with label="What is your gender?" %}
    {% formfield player.student_status with label="Are you a student?" %}
    {% formfield player.field_of_studies with label="what do you study if at all?" %}
    {% formfield player.risk_profile with label="Willingness to take risk with Likert Scale" %}
    {% formfield player.nationality with label="Nationality?" %}

<p>
    {% next_button %}

{% endblock %}
