{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load otreechat %}

{% block title %}
    The Observations and Chat
 

{% endblock %}

{% block content %}
<p>Welcome to the observtions and chat part! </p>
<p>You can chat with the other group member(s) on this page. But, it will last for only 120 seconds.</p>


<p>Your decision was {{ player.decision }}. In order to observe your neighborhood you will find a table below, which is showing the other household's decisions in your neighborhood/group</p>
 <h4><em>The chat box:</em></h4>
 <p>  
<p>{% chat channel=group.id %}

     <style>
    .otree-chat .messages {
        height: 300px;
    }
    .otree-chat .nickname {
        color: #0000FF;
        font-weight: bold;
    }
    </style></p>

<table style="height: 386px;" width="709">
<tbody>
<tr>
<td style="width: 346.91px;">
<p> The player 1 (the player with ID 1 in your group)'s</p> <p> decision was {{ group.decision_p1 }} </p>
<p><br /></p>
</td>
<td style="width: 348.021px;">
<p> The player 2 (the player with ID 2 in your group)'s</p> <p> decision was {{ group.decision_p2 }} </p>
<p><br /></p>
</td>
</tr>
<tr>
<td style="width: 346.91px;">
<p> {% if Constants.players_per_group >= 3 %} </p>
<p> The player 3 (the player with ID 3 in your group)'s</p> <p> decision was {{ group.decision_p3 }} </p>
<p><br /></p>
<p> {% endif %} </p>
</td>
<td style="width: 348.021px;">
<p> {% if Constants.players_per_group >= 4 %} </p>
<p> The player 4 (the player with ID 4 in your group)'s</p> <p> decision was {{ group.decision_p4 }} </p>
<p><br /></p>
<p> {% endif %} </p>
</td>
</tr>
<tr>
<td style="width: 346.91px;">
<p>{% if Constants.players_per_group >= 5 %}</p>
<p>The player 5 (the player with ID 5 in your group)'s</p> <p> decision was {{ group.decision_p5 }}</p>
<p><br /></p>
<p>{% endif %}</p>
</td>
<td style="width: 348.021px;">
<p>{% if Constants.players_per_group >= 6 %}</p>
<p>The player 6 (the player with ID 6 in your group)'s</p> <p> decision was {{ group.decision_p6 }}</p>
<p><br /></p>
<p>{% endif %}</p>
</td>
</tr>
<tr>
<td style="width: 346.91px;">
<p>{% if Constants.players_per_group >= 7 %}</p>
<p>The player 7 (the player with ID 7 in your group)'s</p> <p> decision was {{ group.decision_p7 }}</p>
<p><br /></p>
<p>{% endif %}</p>
</td>
<td style="width: 348.021px;">
<p>{% if Constants.players_per_group >= 8 %}</p>
<p>The player 8 (the player with ID 8 in your group)'s</p> <p> decision was {{ group.decision_p8 }}</p>
<p><br /></p>
<p>{% endif %}</p>
</td>
</tr>
</tbody>
</table>
<p>
  

    
    {% next_button %}

{% endblock %}
