{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    The Prisoners Dilemma
<h2>&nbsp;</h2>
<h2>Expected Years in Prison &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h2>
<h2>&nbsp;</h2>
<h2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Other Participant</h2>
<h2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Stay Silent &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Betray</h2>
<hr />
<table style="height: 108px; border-color: black; float: right;" width="381">
<tbody>
<tr>
<td>
<h2>1</h2>
</td>
<td>
<h2>1</h2>
</td>
<td>
<h2>3</h2>
</td>
<td>
<h2>0</h2>
</td>
</tr>
<tr>
<td>
<h2>0</h2>
</td>
<td>
<h2>3</h2>
</td>
<td>
<h2>2</h2>
</td>
<td>
<h2>2</h2>
</td>
</tr>
</tbody>
</table>
<h2>You &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Stay Silent &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h2>
<h2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Betray</h2>
<h2>&nbsp;</h2>
<h2>&nbsp;</h2>
    
{% endblock %}

{% block content %}
{% formfield player.decision %}


    {% next_button %}

{% endblock %}
